@using System.Web.Optimization
@using softWrench.sW4.Metadata.Security
@using softWrench.sW4.Web.Util
@using softWrench.sW4.Web.Util.StaticFileLoad

@{
    ViewBag.Title = "ServiceIT";
}
<!DOCTYPE html>
<html ng-app="sw_layout" id="ng-app" xmlns:ng="http://angularjs.org">
<head>
    <title>@ViewBag.Title</title>


    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @RowStampScriptHelper.RenderCss("~/Content/bootstrap/css/twitter-bootstrap")
    @RowStampScriptHelper.RenderCss("~/Content/themes/base/fonts")
    @RowStampScriptHelper.RenderCss("~/Content/styles/client/client-css")

    @*    <base href="@Request.ApplicationPath" />*@
</head>
<body>
    @foreach (var tag in StaticFileTagRenderer.RenderScripts()) {
        @tag;
    }

    <input type="hidden" id="hddn_configs" value="@Model.ConfigJSON" />
    <input type="hidden" id="routes_homeurl" value="@Url.Action("RedirectToAction", "Home")" />
    <input type="hidden" id="routes_basecontext" value="@Request.ApplicationPath" />
    <input type="hidden" id="hddn_popupmode" value="@Request.Params.Get("popupmode")" />
    <input type="hidden" id="hiddn_user" value="@Model.UserJSON" />

    <div class="spinner" data-class="spinner" id="mainspinner"></div>

    <div class="container" ng-controller="LayoutController">
        <div class="row">
            <div class="col-side-bar" ng-if="popupmode == 'none'">
                <div id="sidebar" class="side-bar-container">
                    <div class="alignment-logo">
                        <img ng-src="{{mainlogo}}" alt="logo" class="img-responsive" />
                    </div>
                    <menu-wrapper menu="menu" popupmode="{{popupmode}}" class="menu-primary" />
                    <div class="clear">Scott</div>
                </div>
            </div>
            <div class="col-main-content">
                <div class="affix" ng-if="popupmode == 'none'">


                    <nav class="navbar navbar-inverse hapag-topbar" role="banner" id="top" ng-cloak>
                        <div class="container">

                            <div class="collapse navbar-collapse" role="navigation">

                                <ul class="nav navbar-nav">
                                    <li style="margin-right: 1px !important;">
                                        <a href="#">{{i18N('_headermenu.welcome','Welcome')}} @((User as InMemoryUser).FirstName) @((User as InMemoryUser).LastName)</a>
                                    </li>
                                    <li ng-show="myprofileenabled">
                                        <a href="#" ng-click="doAction(null,'User','MyProfile',null)"
                                           rel="tooltip" data-original-title="{{i18N('_headermenu.myprofile_tooltip','View your profile')}}" data-placement="bottom"><span>|</span>{{i18N('_headermenu.myprofile','My Profile')}}</a>
                                    </li>
                                    <li class="dropdown" ng-show="isSysAdmin" style="margin-top: -1px !important">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>|</span><i class="glyphicon glyphicon-wrench"></i> {{i18N('_headermenu.utilities','Utilities')}}<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#" ng-click="doAction(null,'EntityMetadata','Builder',null)">{{i18N('_headermenu.metadatabuilder','Metadata Builder')}}</a></li>
                                            <li><a href="#" ng-click="doAction(null,'EntityMetadata','Editor',null)">{{i18N('_headermenu.metadataeditor','Metadata Editor')}}</a></li>
                                            <li><a href="#" ng-click="doAction(null,'EntityMetadata','MenuEditor',null)">{{i18N('_headermenu.menueditor','Menu Editor')}}</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown" ng-show="isClientAdmin">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>|</span>Admin<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#" ng-click="doAction(null,'User','List',null)">{{i18N('_headermenu.usersetup','User Setup')}}</a></li>
                                            <li><a href="#" ng-click="doAction(null,'UserProfile','Get',null)">{{i18N('_headermenu.userprofilesetup','User Profile Setup')}}</a></li>
                                            <li><a href="#" ng-click="doAction(null,'Role','Get',null)">{{i18N('_headermenu.rolesetup','Role Setup')}}</a></li>
                                            <li><a href="#" ng-click="doAction(null,'Scheduler','Index',null)">{{i18N('_headermenu.schedulersetup','Scheduler Setup')}}</a></li>
                                            <li><a href="#" ng-click="doAction(null,'Configuration','Get',{popup:true})">{{i18N('_headermenu.configuration','Configuration')}}</a></li>
                                            <li><a href="#" ng-click="doAction(null,'Configuration','WhereClauses',{popup:true})">{{i18N('_headermenu.whereclauses','Where Clauses')}}</a></li>
                                            <li><a href="#" ng-click="doAction(null,'LogAdmin','Index')">{{i18N('_headermenu.logadmin','Administrate Logs')}}</a></li>
                                        </ul>
                                    </li>
                                    <li ng-show="isClientAdmin" style="padding-right: 8px;">
                                        <a href="#" ng-click="doAction(null,'Configuration','About',null)"><span>|</span>{{i18N('_headermenu.about','About')}}</a>
                                    </li>

                                    <li class="hapag-topbar-btn">
                                        <a href="@Url.Action("SignOut", "Signout")" ng-click="$event.preventDefault();logout()">
                                            <i class="glyphicon glyphicon-log-out"></i>
                                            {{i18N('_headermenu.logout','Logout')}}
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </nav>
                    <div class="hapag-subtitle gric-subtitle" ng-cloak>
                        <h3 style="font-size: 22px">{{title}}</h3>
                    </div>
                </div>
                <div ng-class="{'hapag-body': popupmode == 'none', 'hapag-body-popup': popupmode != 'none'}" ng-show="!ajaxmode">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).on('touch click', '*[data-calendericon="true"]', function (e) {
            $('input[type="text"]', $(this).parent()).focus();

        });
        //Hiding the tooltip. Workaround for Issue HAP -281 (need proper fix)
        $(document).scroll(function () {
            $('[rel=tooltip]').tooltip('hide');
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
