@using softWrench.sW4.Web.Util
<!DOCTYPE html>
<html ng-app="sw_layout">
<head>
    <title>@Model.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <link rel="Shortcut Icon" ng-src="favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="icon" sizes="196x196" href="apple-touch-icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    @RowStampScriptHelper.RenderCss("~/Content/bootstrap/css/twitter-bootstrap")
    @RowStampScriptHelper.RenderCss("~/Content/styles/thirdparty")
    @RowStampScriptHelper.RenderCss("~/Content/fonts")
    @RowStampScriptHelper.RenderCss("~/Content/styles/client/client-css")
    @RowStampScriptHelper.RenderCss("~/Content/styles/shared")
    <!--[if IE 9]>
    @RowStampScriptHelper.RenderCss("~/Content/ie9")
    <![endif]-->
    @*<base href="@Request.ApplicationPath" />*@
</head>
<body>
    @model softWrench.sW4.Web.Models.Home.HomeModel
    @RowStampScriptHelper.Render("~/Content/Scripts/modernizr")
    @RowStampScriptHelper.Render("~/Content/Scripts/jquery/jquery")
    @RowStampScriptHelper.Render("~/Content/Scripts/twitter-bootstrap")
    @RowStampScriptHelper.Render("~/Content/Scripts/angular/angular")
    @RowStampScriptHelper.Render("~/Content/Scripts/thirdparty/graphics")
    @RowStampScriptHelper.Render("~/Content/Scripts/client/application")
    @RowStampScriptHelper.Render("~/Content/Scripts/client/application/shared")
    @RowStampScriptHelper.Render("~/Content/Scripts/client/client-js")
    @RowStampScriptHelper.Render("~/Content/Scripts/thirdparty")

    <input type="hidden" id="hddn_configs" value="@Model.ConfigJSON" />
    <input type="hidden" id="routes_homeurl" value="@Url.Action("RedirectToAction", "Home")" />
    <input type="hidden" id="routes_basecontext" value="@Request.ApplicationPath" />
    <input type="hidden" id="hddn_popupmode" value="@Request.Params.Get("popupmode")" />
    <input type="hidden" id="hiddn_user" value="@Model.UserJSON" />
    <div class="spinner" data-class="spinner" id="mainspinner"></div>
    <div ng-controller="LayoutController" class="container {{clientName}} {{deviceType}}">
        @*<div class="fixed-footer">*@
            <notifications></notifications>
            <div class="vertical-menu clearfix" ng-if="menu.displacement == 'vertical'">
                <menu-wrapper menu="menu" popupmode="{{popupmode}}" class="menu-primary" />
            </div>
            <header class="site-header navbar-fixed-top hiddenonprint">
                <admin-menu is-client-admin="isClientAdmin"
                            is-sys-admin="isSysAdmin"
                            popupmode="popupmode"
                            myprofileenabled="myprofileenabled"
                            data-menu="menu"
                            data-title="title">
                </admin-menu>
                <div class="branding">
                    <div class="logo">
                        @if (System.IO.File.Exists(Request.MapPath("~/Content/Images/" + @Model.ClientName + "/logo-main.png")))
                        {
                            <img ng-src="{{resourceUrl('/Content/Images/@Model.ClientName/logo-main.png')}}">
                        }
                        else if (System.IO.File.Exists(Request.MapPath("~/Content/Customers/" + @Model.ClientName + "/images/logo-main.png")))
                        {
                            <img ng-src="{{resourceUrl('/Content/Customers/@Model.ClientName/images/logo-main.png' )}}">
                        }
                        else
                        {
                            <img ng-src="{{resourceUrl('/Content/Images/logo-main.png')}}">
                        }
                    </div>
                </div>
                <div class="menu menu-grid" ng-if="menu.displacement == 'horizontal'">
                    <div class="menu-expand">
                        <i class="fa fa-bars"></i> Menu
                    </div>
                    <div class="menu-items">
                        <menu-wrapper menu="menu" popupmode="{{popupmode}}" class="menu-primary" />
                    </div>
                </div>
            </header>
            <div class="content" ng-class="{'hapag-body': popupmode == 'none', 'hapag-body-popup': popupmode != 'none'}" ng-show="!ajaxmode">
                @RenderBody()
            </div>
        @*</div>*@
        <footer class="site-footer hiddenonprint">

                        <div class="page-overlay">
                            <div class="logo">
                                <img ng-src="{{resourceUrl('/Content/Images/logo-footer.png')}}">
                            </div>
                        </div>

        </footer>
    </div>
    <activitystream activities="activities" />
    <script type="text/javascript">
        $(document).on('touch click', '*[data-calendericon="true"]', function (e) {
            $('input[type="text"]', $(this).parent()).focus();
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
