@using softWrench.sW4.Metadata.Security
@using softWrench.sW4.Web.Util
<!DOCTYPE html>
<html ng-app="sw_layout">
<head>
    <title>@Model.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <link rel="Shortcut Icon" ng-src="favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="icon" sizes="196x196" href="apple-touch-icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @RowStampScriptHelper.RenderCss("~/Content/bootstrap/css/twitter-bootstrap")
    @RowStampScriptHelper.RenderCss("~/Content/themes/base/font-awesome")
    @RowStampScriptHelper.RenderCss("~/Content/themes/base/fonts")
    @RowStampScriptHelper.RenderCss("~/Content/styles/client/client-css")

    <!--[if IE 9]>
    @RowStampScriptHelper.RenderCss("~/Content/themes/base/ie9")
    <![endif]-->
    @*<base href="@Request.ApplicationPath" />*@
</head>
<body>
    @model softWrench.sW4.Web.Models.Home.HomeModel
    @RowStampScriptHelper.Render("~/Content/Scripts/modernizr")
    @RowStampScriptHelper.Render("~/Content/Scripts/jquery/jquery")
    @RowStampScriptHelper.Render("~/Content/Scripts/twitter-bootstrap")
    @RowStampScriptHelper.Render("~/Content/Scripts/angular/angular")
    @RowStampScriptHelper.Render("~/Content/Scripts/client/application")
    @RowStampScriptHelper.Render("~/Content/Scripts/client/client-js")
    @RowStampScriptHelper.Render("~/Content/Scripts/thirdparty")

    <input type="hidden" id="hddn_configs" value="@Model.ConfigJSON" />
    <input type="hidden" id="routes_homeurl" value="@Url.Action("RedirectToAction", "Home")" />
    <input type="hidden" id="routes_basecontext" value="@Request.ApplicationPath" />
    <input type="hidden" id="hddn_popupmode" value="@Request.Params.Get("popupmode")" />
    <input type="hidden" id="hiddn_user" value="@Model.UserJSON" />
    <div class="spinner" data-class="spinner" id="mainspinner"></div>
    <div ng-controller="LayoutController" class="container {{clientName}} {{deviceType}}">
        <header class="site-header navbar-fixed-top hiddenonprint">
            <admin-menu is-client-admin="isClientAdmin"
                        is-sys-admin="isSysAdmin"
                        popupmode="popupmode"
                        myprofileenabled="myprofileenabled">
            </admin-menu>
            <div class="branding">
                <div class="logo">
                    @if (System.IO.File.Exists(Request.MapPath("~/Content/Images/" + @Model.ClientName + "/logo-main.png"))) {
                    <img class="logo" ng-src="{{resourceUrl('/Content/Images/@Model.ClientName/logo-main.png')}}">
                    } else {
                    <img class="logo" ng-src="{{resourceUrl('/Content/Images/logo-main.png')}}">
                    }
                </div>
            </div>
            <div class="menu menu-grid">
                <div class="menu-expand"><i class="fa fa-bars"></i> Menu</div>
                <div class="menu-items">
                    <menu-wrapper menu="menu" popupmode="{{popupmode}}" />
                </div>
            </div>
        </header>
        <div class="content" ng-class="{'hapag-body': popupmode == 'none', 'hapag-body-popup': popupmode != 'none'}" ng-show="!ajaxmode">
            @RenderBody()
        </div>
    </div>
    <div id="activitystream" class="clearfix" ng-controller="ActivityStream" ng-if="$rootScope.notificationStream">
        <div class="handle"><i class="fa fa-rss-square"></i>&ensp;Activity Stream</div>
        <div class="pane">
            <header class="clearfix">
                <h2 class="pull-left">Recent Activity</h2>
                <div class="buttons pull-right">
                    <div class="button" ng-click="markAllRead()"><i class="fa fa-check-square"></i></div>
                    <div class="button" ng-click="refreshStream()"><i class="fa fa-refresh"></i></div>
                </div>
            </header>
            <div class="scroll">
                <div class="messages">
                    <div class="message clearfix" ng-repeat="activity in activities" ng-class="$even ? 'even' : 'odd'">
                        <div class="read pull-left"><i class="fa" ng-class="activity.isRead ? '' : 'fa-circle'"></i></div>
                        <div class="icon pull-left"><i class="fa" ng-class="activity.icon"></i></div>
                        <div class="text pull-left">
                            <div class="info">
                                <div class="info"><span class="by">{{activity.createBy}}</span> changed {{activity.label}} <a href="" ng-click="openLink(activity)">{{activity.id}}</a></div>
                                <span ng-if="activity.parentApplication"> for {{activity.parentLabel}} <a href="" ng-click="openLink(activity)">{{activity.parentId}}</a></span>
                            </div>
                            <div class="date">{{formatDate(activity.notificationDate)}}</div>
                        </div>
                    </div>
                    <div class="nomessages" ng-if="!activities.length"><i class="fa fa-times-circle"></i>&ensp;No recent activity to display.</div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).on('touch click', '*[data-calendericon="true"]', function (e) {
            $('input[type="text"]', $(this).parent()).focus();
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
